{% extends 'base.html.twig' %}

{% block title %} {% trans %} Mountain guide {% endtrans %} {% endblock %}


{% block body %}

<h1 class="main-title">{% trans %} Alpinism, Ski, Climbing {% endtrans %} </h1>

<a href="{{path('home', {'_fragment':'main-section'})}}" class="btn more-link button-link"><i class="fas fa-angle-down"></i></a>

<div class="slider-wrapper">    

   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active carousel1">
      </div>
      <div class="carousel-item carousel2">
      </div>
      <div class="carousel-item carousel3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans %} Previous {% endtrans %}</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans %} Next {% endtrans %}</span>
    </a>
  </div>
</div>
{# end hero #}

<!-- // anchor for more link -->
<div id="main-section"></div>



<hr class="bg-white my-5" id="">

{# <main class="container mt-3"> #}

    {# // disciplines section #}
    <div class="disciplines-list container">
      {% for disci in disciplines %}
        <a href="{{ path('detail', {'id': disci.id}) }}" class="discipline">
          <div class="text" style="background: url('/images/{{disci|replace({" " : "-"})|lower}}.jpg') center no-repeat;background-size: cover;">
              <h3>{{disci.title}}</h3>
          </div>
        </a>
      {% endfor %}
    </div>

{# </main> #}

<hr>

<div class="contact container my-5" id="contact-form">
  {% include "contact.html.twig" %}
</div>

<div class="footer mt-5 bg-dark">
  <h5 class="text-light p-5">footer</h5>
</div>

{% endblock %}
