html{
    scroll-behavior: smooth;
}
/* NAV BAR*/
nav{
    background-color:rgba(9, 9, 82, .7);
}
nav ul li a{
    text-transform: uppercase;
    color:#fff !important;
    border-bottom: solid 1px transparent;
    font-weight: 300 !important;
}

nav ul li a:hover{
    border-bottom: solid 1px #fff;
}

nav ul li .active{
    border-bottom: solid 1px #fff !important;
}


/*SLIDER*/

.slider-wrapper{
    height: 100vh;
}
.slider-wrapper .carousel-inner{
    height: 100vh;
}

.slider-wrapper .carousel .carousel-inner .carousel1{
    background: url("../images/bg6.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}
.slider-wrapper .carousel .carousel-inner .carousel2{
    background: url("../images/bg2.jpg") no-repeat center right;
    background-size: cover;
    height: 100vh;
}
.slider-wrapper .carousel .carousel-inner .carousel3{
    background: url("../images/bg5.jpg") no-repeat left;
    background-size: cover;
    height: 100vh;
}

/* main .carousel-inner{
    /* height: 440px; */
/* } */ 

/* titles */
h1, h2 {
    font-family: Share Tech,sans-serif;
    /* color: rgb(108, 108, 233); */
}

.main-title{
    color: #fff;
    text-shadow: rgba(9, 9, 82, .4) 1px 1px 1px, -1px -1px 1px rgba(9, 9, 82, .4);
    letter-spacing: 3px;
    font-size: 2.3rem;
    margin-top: 12%;
    text-align: center;
}

h2{
    color: rgb(9, 9, 82);
}

.main-title, .more-link{
    position: absolute;
    z-index: 999;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
}


@media screen and (max-width: 800px) {
    .main-title{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 200px !important;
        width: 250px;
    }
    .more-link {
        margin-top: 400px !important;
    }
}


/* .index-notif{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 300px;
    z-index: 999;
} */

.more-link{
    margin-top: 40%;
}
.more-link i {
    font-size: 1.7rem;
}

.button-link{
    width: 100px;
    background-color:rgba(9, 9, 82, .85);
    color: #fff;   
}
.button-link:hover{
    color: #fff;
    background-color:rgba(9, 9, 82, .75);
}

.back-top{
    position: fixed;
    top: 90%;
    left: 90%;
    font-size: 2rem;
    z-index: 999;
    opacity: 0;
    transition: all .6s ease;
    color: rgb(9, 9, 82);
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-section-second{
    flex-wrap: wrap-reverse;
}

.main-section div{
    /* flex-basis: 850px; */
    min-width: 200px;
}

.main-section .carousel-inner {
    height: 400px;
}

@media screen and (max-width: 770px) {
    .main-section div{
        min-width: 100%;
    }
}


/* //about page */
.about-container{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-container div{
    min-width: 300px;
}

@media screen and (max-width: 990px) {
    .about-container div{
        min-width: 100%;
    }
}
/* .about-text{
    width: 30%;
} */

/*photos albums*/
.albums-wrapper{
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.album-container{
    width: 700px;
    flex-shrink: 1;
}

/*admin*/
.save-or-del-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}