{% extends 'base.html.twig' %}

{% block title %} Blog!{% endblock %}

{% block body %}
 <div class="container">
     <h1>Blog</h1>
     <div class="shadow mt-5 p-5 bg-light">
        {% for article in articles %}
        <div class="article m-3">

            <h2>{{article.title}}</h2>
            <p>{{article.content|raw}}</p>
            
        </div>
        <hr class="bg-dark">

        {% endfor %}

     </div>
 </div>
{% endblock %}
